[Unit]
Description=Run the Beans ClamAV scan weekly

[Timer]
OnCalendar=Sun *-*-* 03:00:00
Persistent=true
Unit=beans-clamav-scan.service

[Install]
WantedBy=timers.target
